# Git
.git
.gitignore
.github

# IDE
.idea
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache/
..mypy_cache/

# poetry
.venv

# C extensions
*.so

# Virtual environment
.venv
venv
__pypackages__

# Python files
playground.py

# DB volume
_postgres_data

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
